/* CSS declarations go here */
.top-margin {
  margin-top: 50px;
}

.underline {
  text-decoration: underline;
}

iframe#viewer_iframe {
  border: 1px solid gray;
  resize: both;
  width: 100%;
}

header {
  font-size: 1.2em;
  padding: 5px 30px !important;
}
